.calculadora {
  background-color: #c0c0c0;
  margin: 50px;
  border-radius: 5px;
  padding: 30px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px black;
  width: 600px;
}

#inputCalculadora {
  font-size: 24px;
  text-align: right;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #777;
  border-radius: 5px;
  margin-left: 5px;
  width: 50%;
}

.row {
  padding: 0;
}
.row div button {
  width: 100%;
  margin-top: 3px;
}

.row-justify {
  background-color: #f17979;
  border: 1px solid black;
  border-radius: 8px;
  width: 80px;
}

.col-3 button {
  background-color: #888;
  border: 1px solid black;
}

#btnLimpar {
  color: white;
  font-weight: bold;
  background-color: #f17979;
  border: none;
}

#btnDividir,
#btnMultiplicar,
#btnPonto,
#btnResultado,
#btnSoma {
  background-color: #555;
}

#btnSubtrair {
  background-color: #555;
  color: black;
}
