@charset "UTF-8";
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caixa {
  width: 300px;
  background-color: #3498db;
  color: white;
  padding: 20px;
  margin-bottom: 15px;
  border: 5px solid #133b56;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 1.2em;
}
footer {
  text-align: center;
  margin-top: 20px;
  color: #0e0d0d;
}
