@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bddae5;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  position: relative;
  text-align: center;
  margin-top: 20px;
  color: #333;
}
h2 {
  margin: 30px;
  color: #444;
}
h3 {
  margin: 25px;
  color: #555;
}
p {
  width: 80%;
  margin: 15px;
  line-height: 1.6;
}
ul {
  color: #1357d5;
  margin: 20px;
  list-style-type: disc;
}
footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  background-color: #1357d5;
  color: #fff;
}
