@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;

  color: #000;
  line-height: 1.6;
}

header > h1 {
  text-align: center;
  padding: 20px 0px;
}
#principal {
  width: 900px;
}

.noticia {
  width: 280px;
  background-color: #e5e5e5;
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
  margin: 10px;
  float: left;
}

.galeria {
  width: 280px;
  float: left;
  margin: 10px;
  text-align: center;
}
footer {
  width: 90%;
  clear: both;
  text-align: center;
  padding: 20px 0px;
  background-color: #000;
  color: #fff;
  margin: auto;
}
