@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #c5c5c5;
  color: #222;
  line-height: 1.6;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  padding: 20px 0;
}

p {
  text-align: justify;
}

footer > p {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #020482;
}
