@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Android";
  src: url(../fontes/idroid.otf);
  format: ("opentype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-1: #c5ebd6;
  --color-2: #83e1ad;
  --color-3: #3ddc84;
  --color-4: #2fa866;
  --color-5: #1a5c37;
  --color-6: #063d1e;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --fonte-destaque: "Bebas Neue", cursive;
  --fonte-android: "Android", cursive;
}

body {
  background-color: #c5ebd6;
  font-family: var(--fonte-padrao);
}

header {
  background-color: var(--color-4);
}

header > h1 {
  font-family: var(--fonte-destaque);
  color: white;
}

header > p {
  color: white;
}

nav {
  background-color: var(--color-5);
}
nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
}

main {
  background-color: white;
  min-width: 800px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  color: var(--color-5);
  font-family: var(--fonte-android);
}
main h2 {
  font-family: var(--fonte-android);
}

footer {
  background-color: var(--color-6);
  color: white;
}
