@charset "UTF-8";

body {
  background: #d2d2c1 url("./imagens/fundo.jpg") no-repeat center top;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#principal {
  width: 960px;
  margin: auto;
}

#menu {
  background: #c5c5b2;
  border: 1px solid #999;
  padding: 10px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px;
}
a:hover {
  color: #0884b5;
}

#conteudo {
  background: #fff;
  width: 80vw;
  margin: auto;
  border: 1px solid #999;
  padding: 10px;
  margin-top: 10px;
}
#rodape {
  text-align: center;
  font-size: 16px;
  color: #1a1a1a;
  margin-top: 10px;
}
#contatos {
  width: 80vw;
  margin: auto;
  background: #f4f4f4;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
#contatos h2 {
  text-align: center;
}
#contatos label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
#contatos input,
#contatos textarea {
  width: 60%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#contatos button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #08b595;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#contatos button:hover {
  background-color: #035e4d;
}
